<!DOCTYPE html>
<html lang="en" class="{% block top_class %}{% endblock %}"> 
<head profile="http://www.w3.org/2005/10/profile">
    {% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="The Personal blog and musings of Chris Penner, a designer, developer and future opsimath.">
    <meta name="author" content="Chris Penner">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="alternative" type="application/rss+xml" title="Chris Penner RSS Feed" href="/feed" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
    {% block metatags %} {% endblock %}
</head>
<body>
<header>
    <nav>
        <a id="beacon" href="/">

            {% include "enso.svg" %}

        </a>
    </nav>
    <div id="theme-button">DAY</div>
    {% block header %}{% endblock %} 
</header>

    <div id="page">{% block content %}{% endblock %}</div>

<footer>
    &copy; 2014 Chris Penner - <a href="/feed">RSS</a>
</footer>

<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script src="/js/main.min.js"></script>

{% if false %}
<!-- Don't use Facebook for now. -->
<!--Facebook Like/Share code-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
</body>
</html>
