<div class="wrapper">
    <div class="masthead">
        <span class="title">
            $title$
        </span>
        <br>

        $if(prevPost)$
            <a id="leftarrow" class="arrow" href="/post/{{prev_post}}">&larr;</a>
        $endif$

        $if(prevPost)$
        <a id="rightarrow" class="arrow" href="/post/{{next_post}}">&rarr;</a>
        $endif$

        $if(image)$
    <img class="post-image" src="/images/$image$">
        <br>
        $endif$
        $if(author)$
            <span class="byline">by $author$</span>
        $endif$
        <br>
        <span class="date">$date$</span>
        $if(categories)$
            <br>
            <span class="categories">
                Categories:
                $for(categories)$
                    <a class="category" href="/category/$body$">$body$</a>
                $endfor$
            </span>
        $endif$
        $if(tags)$
            <br>
            <span class="tags">
                Tagged:
                $tags$
                $for(tags)$
                    <a class="tag" href="/tag/$body$">$body$</a>
                $endfor$
            </span>
        $endif$
    </div>
</div>
<article class="post">
    $body$

    <br>
    <br>

    <!--Share buttons-->
<div class="social-buttons">
    <a href="https://twitter.com/share" class="twitter-share-button"
        data-url="$url$" data-text="Check out: $title$ - " data-via="chrislpenner">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="https://twitter.com/chrislpenner" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @chrislpenner</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="fb-like" data-href="$url$" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
    <!-- Disqus Comments -->
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'chrispenner';
    var disqus_identifier = '$path$';
    var disqus_url = '$url$';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</article>

