<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="The Personal blog and musings of Chris Penner, a designer, developer and future opsimath.">
    <meta name="author" content="Chris Penner">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Chris Penner</title>
    <link rel="alternative" type="application/rss+xml" title="Chris Penner RSS Feed" href="/feed" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    {{>site/templates/head.html}}
</head>
<body>
    {{>site/templates/header.html}}

<div id="page">
            <section class="table-of-contents">
                <h1>{{tag}}</h1>
                {{>site/templates/post-list.html}}
        </section>
</div>

{{>site/templates/footer.html}}

</body>
</html>
